.body {
    &__container {
        display: grid;
        height: 95vh;
        grid-template-rows: 60px minmax(0, 1fr);
        min-height: 0;

    }
    &__header {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(167, 164, 164, 0.856);
        &__channel {
            &--name {
                font-weight: 700;
            }
            &--info {
                font-weight: 400;
                color: #606060;
                font-size: 13px;
                margin-top: 8px;
            }
        }
        &__channelDetails {
            display: flex;
            align-items: center;
            color: #606060;
            >div {
                margin-right: 10px;
            }
        }
    }
    &__message {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
}