.body {
    &__container {
        display: grid;
        grid-template-rows: 64px auto min-content;
        height: 90vh;
    }
    &__header {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(167, 164, 164, 0.856);
        &__channel {
            &--name {
                font-weight: 700;
            }
            &--info {
                font-weight: 400;
                color: #606060;
                font-size: 13px;
                margin-top: 8px;
            }
        }
        &__channelDetails {
            display: flex;
            align-items: center;
            color: #606060;
            >div {
                margin-right: 10px;
            }
        }
    }
}

// .body {
//     &__container {
//         background-color: white;
//         height: 90vh;
//         display: flex;
//         flex-direction: column;
//         // justify-content: space-between;
//     }
//     &__inform {
//         display: flex;
//         justify-content: space-between;
//         border-bottom: rgba(202, 199, 199, 0.705) 1px solid;
//         padding: 10px 0 10px 15px;
//         &--up {
//             font-weight: 700;
//             display: flex;
//         }
//         &--down {
//             color: rgb(90, 89, 89);
//         }
//     }
//     &__details {
//         display: flex;
//         align-items: center;
//         padding-right: 15px;
//         &--text {
//             padding-right: 8px;
//         }
//     }
//     &__chat {
//         height: 81vh;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         padding-left: 15px;
//             >input {
//                 height: 35px;
//                 width: 98%;
//             }
//     }
// }
