.chatInput{
    &__container {
        padding: 0 20px 24px 20px;
    }
    &__input {
        border: 1px solid #8D8D8E;
        border-radius: 4px;
        > form {
            display: flex;
            height: 42px;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            > input {
                flex: 1;
                border: none;
                font-size: 13px;
            }
            > input:focus {
                outline: none;
            }
        } 
    }
    &__button {
        background-color: #007a5a;
        border-radius: 2px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .MuiSvgIcon-root {
            width: 18px;
            color: #D9D9D9;
        }
    }
    &__button:hover {
        background-color: #148567;
    }
}
