.sidebar {
    &__container {
        background-color: #3F0E40;
        &__workspace {
            color: white;
            height: 64px;
            display: flex;
            align-items: center;
            padding-left: 19px;
            justify-content: space-between;
            border-bottom: 1px solid #532753;
            &--message {
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                fill: #3F0E40;
                color: #3F0E40;
                border-radius: 50%;
                margin-right: 20px;
                cursor: pointer;
            }
        }
    }
    &__main {
        padding-top: 20px;
        &--items {
            color: rgb(188, 171, 188);
            display: grid;
            grid-template-columns: 15% auto;
            height: 28px;
            align-items: center;
            padding-left: 19px;
            cursor: pointer;
        }
        &--items:hover {
            background-color: #350d36;
        }
    }
    &__channel {
        color: rgb(188, 171, 188);
        margin-top: 10px;
        &--new {
            display: flex;
            justify-content: space-between;
            height: 20px;
            padding:0 0 19px 12px;
        }
        &--list {
            &-name {
                height: 28px;
                display: flex;
                align-items: center;
                padding-left: 19px;
                cursor: pointer;
            }
            &-name:hover {
                background-color: #350d36;
            }
        }
    }
}

.modal-container {
    position: absolute;
  }
  
.modal-overlay-center {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }